/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  color: #25a2c3;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  color: white;
  font-weight: 700;
  font-size: 2em;
}

h1 {
  line-height: 2em;
  font-size: 2em;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  font-size: 1.2rem;
  color: #393d41;
}

/* Header Styles */
header div {
  background-color: black;
  padding: 20px;
}

header img {
  width: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  width: 20%;
  cursor: pointer;
}

/* Main Styles */
.block1 {
  background-image: url(../img/banner.jpg);
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
  height: 700px;
}

.block1 h1 {
  line-height: 1em;
  padding: 20px;
}

.block1 p {
  margin-bottom: 30px;
}

.block1 button {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #f04c2f;
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  margin-bottom: 20px;
}

.block2 {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 100px;
}

h2 {
  font-size: 1.2em;
}

.block2 h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#notebook {
  border-radius: 50%;
  margin-top: 30px;
  float: left;
  width: 30%;
  padding-right: 20px;
  margin-left: 300px;
}

.block2-2 {
  width: 100%;
  padding-top: 3%;
}

.block3 {
  background-color: #e22d0e;
  color: white;
  text-align: center;
}

.block3 h3 {
  padding: 45px 0px 35px 0px;
}

blockquote {
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 30px;
}

.block3 p {
  color: white;
}

#ceo {
  padding-bottom: 40px;
}

#ceo2 {
  font-size: 0.9em;
  font-weight: 300;
}

.block4 {
  padding-top: 60px;
}

.block4 img {
  width: 100%;
}

.block4 p {
  padding: 10px 10px 30px 10px;
}

.block4 h2 {
  padding-top: 20px;
  padding-left: 10px;
}

#article1 {
  margin-left: 15%;
  padding: 0%;
  width: 20%;
  border: 1px solid #dee1e3;
  float: left;
  height: 400px;
}
#article2 {
  margin-left: 5%;
  padding: 0%;
  width: 20%;
  border: 1px solid #dee1e3;
  float: left;
  height: 400px;
}
#article3 {
  margin-left: 5%;
  padding: 0%;
  width: 20%;
  border: 1px solid #dee1e3;
  display: inline-block;
  height: 400px;
}

/* Footer Styles */
footer {
  background-color: #25a2c3;
  margin-top: 80px;
  text-align: center;
}

.contacts {
  padding: 30px;
}

footer p {
  color: #c8e7f0;
}

footer a:link,
a:visited {
  color: #c8e7f0;
}

#copyright {
  border-top: 1px solid #c8e7f0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
}

#copyright p {
  font-size: 0.8em;
  font-weight: 300;
}
